/* BODY */

main,
.flex-grid {
    @include FlexLayout;
}

main {
    background-color: $grayLight;
}

.body {
    flex: 1;
    .body-container {
        padding: $gap * 1.5;
    }
}

.flex-card {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 3px;
    flex: 1;
    margin: 0 $gap $gap 0;
    min-width: 100%;
    padding: $gap;
    &:last-child {
        margin-right: 0;
    }
    >h4 {
        @include SubTitle($marginSubTitle: 0 0 ($gap * 1.5));
    }
}

@include respond-above(xs) {
    .body .body-container {
        padding: $gap * 3;
    }
    .flex-grid {
        flex-direction: row;
        &>* {
            min-width: 50%;
        }
        &.flex-cards>* {
            min-width: 0;
        }
    }
}

@include respond-above(sm) {
    main {
        flex-direction: row;
        min-height: calc(100% - 4rem);
    }
}

@include respond-above(md) {
    .body {
        .body-container {
            padding: {
                left: $gap * 4;
                right: $gap * 4;
            }
        }
    }
    .flex-card {
        margin: 0 ($gap * 2) ($gap * 2) 0;
        padding: ($gap * 2.5) ($gap * 2);
        &:last-child {
            margin-right: 0;
        }
        &.flex-card-24 {
            max-width: 24%;
        }
    }
}


/* HEADER */

.flex-header {
    margin-bottom: 1rem;
    .media {
        margin: auto;
        margin-bottom: 1rem;
        position: relative;
        z-index: 2;
    }
}

.button-group {
    min-width: 100%;
    text-align: center;
    z-index: 1;
    div {
        margin: auto;
        width: auto;
        display: inline-block;
        a {
            display: block;
            border: 1px solid $grayDark;
            width: 7rem;
            float: left;
            padding: .5rem 1rem;
            font-weight: 500;
            font-size: .85em;
            color: $blackMedium;
            transition: .25s background-color;
            &:first-child {
                border-right: 0;
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &.active {
                background-color: $white;
            }
            &:hover {
                background-color: #DDEAFF;
            }
        }
    }
}

@include respond-above(xs) {
    .flex-header {
        min-height: 4rem;
        position: relative;
        .media {
            position: absolute;
            left: -1rem;
            top: -.5rem;
            min-width: 0;
            z-index: 2;
        }
    }
    .button-group {
        text-align: right;
        a {
            text-align: center;
        }
    }
}

@include respond-above(sm) {
    .button-group {
        text-align: center;
    }
}